In [1]:
import pandas as pd
import numpy as np
from __future__ import division
    
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
pd.set_option('display.mpl_style', 'default')

/Users/maarten/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [75]:
def processData(fileInNew, fileInLegacy, fileOut):
    dfLegacy = pd.read_csv(fileInLegacy, names=["legacy_country","legacy_count"]) # index_col="country"
    dfNew = pd.read_csv(fileInNew,names=["newgtld_country","newgtld_count"])
    #calc ratios
    dfLegacy["legacy_rate"] = (dfLegacy["legacy_count"] / dfLegacy.sum(axis=0)["legacy_count"]) * 100.0
    dfLegacy["legacy_rate/10k"] = (10000 *dfLegacy["legacy_count"]) / dfLegacyCountrySize.loc[dfLegacy["legacy_country"]].values[0]
    dfLegacy = dfLegacy.sort_values("legacy_rate/10k", ascending=False)
    dfLegacy['legacy_count'] = dfLegacy['legacy_count'].apply(lambda x: '{0:,d}'.format(x))


    dfNew["newgtld_rate"] = (dfNew["newgtld_count"] / dfNew.sum(axis=0)["newgtld_count"]) * 100.0
    dfNew["newgtld_rate/10k"] = (10000 *dfNew["newgtld_count"]) / dfNewCountrySize.loc[dfNew["newgtld_country"]].values[0]
    dfNew = dfNew.sort_values("newgtld_rate/10k", ascending=False) 
    dfNew['newgtld_count'] = dfNew['newgtld_count'].apply(lambda x: '{0:,d}'.format(x))

    dfResult = pd.concat([dfNew,dfLegacy], axis=1)
    #dfResult = dfNew
    #let index start at 1
    dfResult.index += 1 
    dfResult = dfResult[0:10]
    dfResult.fillna(value=0, inplace=True)
    dfResult["newgtld_count"] = dfResult["newgtld_count"].astype(int)

    
    dfResult.round(2).to_csv(fileOut, sep='&')

    return dfResult.round(2)

APWG

In [76]:
#dfCountrySize = pd.read_csv("./select-country-size.csv", header=0,names=["country","size"], index_col="country")
dfNewCountrySize = pd.read_csv("./select-country-size-newgtld.csv", header=0, index_col="country")
dfLegacyCountrySize = pd.read_csv("./select-country-size-legacygtld.csv", header=0, index_col="country")

In [77]:
processData("./apwg/apwg-newgtld-domain-geolocation-count.csv","./apwg/apwg-legacy-gtld-domain-geolocation-count.csv","./apwg/apwg-registrar-geolocation.csv" )

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,united states,3551,36.51,5.65,united states,155928,60.95,10.22
2,china,2673,27.48,4.25,india,27027,10.56,1.77
3,india,695,7.15,1.11,canada,14096,5.51,0.92
4,germany,363,3.73,0.58,germany,9174,3.59,0.60
5,gibraltar,350,3.60,0.56,china,8085,3.16,0.53
6,united kingdom,297,3.05,0.47,australia,5406,2.11,0.35
7,canada,291,2.99,0.46,united kingdom,4946,1.93,0.32
8,singapore,281,2.89,0.45,france,4056,1.59,0.27
9,japan,201,2.07,0.32,turkey,3876,1.52,0.25
10,hong kong,177,1.82,0.28,bahamas,2528,0.99,0.17

SBW

In [79]:
processData("./stopbadware/sbw-newgtld-domain-geolocation-count.csv","./stopbadware/sbw-legacy-gtld-domain-geolocation-count.csv","./stopbadware/sbw-registrar-geolocation.csv" )

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,gibraltar,59044,37.09,194.99,united states,578538,51.42,37.93
2,china,55957,35.15,184.80,china,198995,17.69,13.05
3,singapore,24475,15.38,80.83,india,86293,7.67,5.66
4,united states,7786,4.89,25.71,canada,49274,4.38,3.23
5,india,6969,4.38,23.01,germany,46097,4.10,3.02
6,united kingdom,915,0.57,3.02,france,20712,1.84,1.36
7,hong kong,859,0.54,2.84,united kingdom,16099,1.43,1.06
8,barbados,515,0.32,1.70,spain,14317,1.27,0.94
9,france,420,0.26,1.39,turkey,14261,1.27,0.93
10,japan,399,0.25,1.32,hong kong,13174,1.17,0.86

SPAMHAUS

In [80]:
processData("./spamhaus/spamhaus-newgtld-domain-geolocation-count.csv","./spamhaus/spamhaus-legacy-gtld-domain-geolocation-count.csv","./spamhaus/spamhaus-registrar-geolocation.csv")

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,gibraltar,1208509,53.97,3991.07,united states,2118994,47.09,138.93
2,japan,263899,11.78,871.52,japan,1131316,25.14,74.17
3,china,228728,10.21,755.37,china,390860,8.69,25.63
4,united states,221577,9.89,731.75,india,291398,6.48,19.10
5,singapore,123290,5.51,407.16,turkey,92475,2.06,6.06
6,india,75040,3.35,247.82,germany,74919,1.66,4.91
7,united kingdom,32352,1.44,106.84,bahamas,73290,1.63,4.81
8,france,25807,1.15,85.23,canada,70700,1.57,4.64
9,cayman islands,17891,0.80,59.08,australia,40620,0.90,2.66
10,hong kong,7592,0.34,25.07,united kingdom,28631,0.64,1.88

SURBL

In [81]:
processData("./surbl/surbl-newgtld-domain-geolocation-count.csv","./surbl/surbl-legacy-gtld-domain-geolocation-count.csv","./surbl/surbl-registrar-geolocation.csv")

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,gibraltar,751748,49.44,2482.63,united states,1985574,47.06,130.18
2,japan,295647,19.44,976.37,japan,1190409,28.21,78.05
3,china,214332,14.10,707.83,china,319546,7.57,20.95
4,united states,109989,7.23,363.24,india,268812,6.37,17.62
5,india,54782,3.60,180.92,germany,73185,1.73,4.80
6,united kingdom,24955,1.64,82.41,ireland,58292,1.38,3.82
7,france,20121,1.32,66.45,canada,40355,0.96,2.65
8,united arab emirates,11793,0.78,38.95,australia,33080,0.78,2.17
9,cayman islands,8912,0.59,29.43,turkey,32266,0.76,2.12
10,canada,6494,0.43,21.45,bahamas,28918,0.69,1.90

CLEANMX PHISHING

In [82]:
processData("./cleanmx-phishing/cleanmx-phishing-newgtld-domain-geolocation-count.csv","./cleanmx-phishing/cleanmx-phishing-legacy-gtld-domain-geolocation-count.csv", "./cleanmx-phishing/cleanmx-phishing-registrar-geolocation.csv")

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,united states,4970,55.16,7.91,united states,169251,60.57,11.10
2,gibraltar,1040,11.54,1.66,india,34101,12.20,2.24
3,india,793,8.80,1.26,canada,17609,6.30,1.15
4,china,719,7.98,1.14,germany,9184,3.29,0.60
5,united kingdom,198,2.20,0.32,china,7329,2.62,0.48
6,canada,197,2.19,0.31,australia,6502,2.33,0.43
7,germany,168,1.86,0.27,united kingdom,4996,1.79,0.33
8,singapore,133,1.48,0.21,france,4281,1.53,0.28
9,russian federation,105,1.17,0.17,turkey,3878,1.39,0.25
10,france,84,0.93,0.13,bahamas,2164,0.77,0.14

CLEANMX VIRUSES

In [83]:
processData("./cleanmx-viruses/cleanmx-viruses-newgtld-domain-geolocation-count.csv","./cleanmx-viruses/cleanmx-viruses-legacy-gtld-domain-geolocation-count.csv", "./cleanmx-viruses/cleanmx-viruses-registrar-geolocation.csv")

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,china,3171,33.71,3.93,united states,215026,55.88,14.10
2,united states,2652,28.19,3.28,china,41962,10.90,2.75
3,gibraltar,1839,19.55,2.28,india,30765,7.99,2.02
4,india,397,4.22,0.49,canada,17149,4.46,1.12
5,united kingdom,312,3.32,0.39,germany,14168,3.68,0.93
6,cayman islands,195,2.07,0.24,france,7576,1.97,0.50
7,singapore,148,1.57,0.18,spain,6333,1.65,0.42
8,japan,110,1.17,0.14,turkey,5907,1.54,0.39
9,france,110,1.17,0.14,united kingdom,5762,1.50,0.38
10,germany,109,1.16,0.13,japan,5134,1.33,0.34

CLEANMX PORTALS

In [84]:
processData("./cleanmx-portals/cleanmx-portals-newgtld-domain-geolocation-count.csv","./cleanmx-portals/cleanmx-portals-legacy-gtld-domain-geolocation-count.csv", "./cleanmx-portals/cleanmx-portals-registrar-geolocation.csv")

,newgtld_country,newgtld_count,newgtld_rate,newgtld_rate/10k,legacy_country,legacy_count,legacy_rate,legacy_rate/10k
1,united states,3124,41.89,4.97,united states,216414,57.40,14.19
2,india,1359,18.22,2.16,india,48177,12.78,3.16
3,gibraltar,1018,13.65,1.62,canada,21706,5.76,1.42
4,china,691,9.27,1.10,china,20226,5.36,1.33
5,france,244,3.27,0.39,germany,12229,3.24,0.80
6,singapore,149,2.00,0.24,turkey,6983,1.85,0.46
7,united kingdom,119,1.60,0.19,france,6966,1.85,0.46
8,germany,109,1.46,0.17,united kingdom,6165,1.64,0.40
9,netherlands,109,1.46,0.17,australia,5545,1.47,0.36
10,russian federation,99,1.33,0.16,spain,3849,1.02,0.25

In [85]:
dfTopCountries = pd.read_csv('top-registrar-countries.csv', header=0,index_col=0)
dfTopCountries['share'] = dfTopCountries['registrars'] /  dfTopCountries['registrars'].sum() * 100.0
dfTopCountries = dfTopCountries.round(2)
dfTopCountries[0:10].to_csv('top-registrar-countries-share.csv')
dfTopCountries[0:10]

                registrars  share
country
united states         2682  53.88
china                  281   5.64
germany                201   4.04
canada                 177   3.56
united kingdom         160   3.21
india                  144   2.89
france                 116   2.33
australia              111   2.23
spain                  105   2.11
japan                   95   1.91

In [107]:
#domains per country
dfTopCountriesNew = pd.read_csv('select-country-size-newgtld.csv', header=0,index_col=0)
dfTopCountriesNew['share'] = dfTopCountriesNew['domains'] /  dfTopCountriesNew['domains'].sum() * 100.0
dfTopCountriesNew = dfTopCountriesNew.round(2)
dfTopCountriesNew.sort_values("domains")
dfTopCountriesNew.reset_index(inplace=True)
dfTopCountriesNew['country'] = dfTopCountriesNew['country'].apply(lambda x: x.title())
dfTopCountriesNew['domains'] = dfTopCountriesNew['domains'].apply(lambda x: '{0:,d}'.format(x))
dfTopCountriesNew[0:10].to_csv('country-domain-count-new-gtld-share.csv')
dfTopCountriesNew[0:10]

          country    domains  share
0           China  8,076,776  27.92
1   United States  6,283,269  21.72
2       Gibraltar  3,028,035  10.47
3  Cayman Islands  2,069,919   7.16
4       Singapore  1,870,886   6.47
5           Japan  1,741,228   6.02
6           India  1,323,117   4.57
7         Germany  1,105,708   3.82
8       Hong Kong    836,069   2.89
9          France    450,371   1.56

In [99]:
dfTopCountriesNew["domains"].sum()

28925920

In [108]:
#legacy domains per country
dfTopCountriesLegacy = pd.read_csv('select-country-size-legacygtld.csv', header=0,index_col=0)
dfTopCountriesLegacy['share'] = dfTopCountriesLegacy['domains'] /  dfTopCountriesLegacy['domains'].sum() * 100.0
dfTopCountriesLegacy = dfTopCountriesLegacy.round(2)
dfTopCountriesLegacy.sort_values("domains")
dfTopCountriesLegacy.reset_index(inplace=True)
dfTopCountriesLegacy['country'] = dfTopCountriesLegacy['country'].apply(lambda x: x.title())
dfTopCountriesLegacy['domains'] = dfTopCountriesLegacy['domains'].apply(lambda x: '{0:,d}'.format(x))
dfTopCountriesLegacy[0:10].to_csv('country-domain-count-legacy-gtld-share.csv')
dfTopCountriesLegacy[0:10]

          country      domains  share
0   United States  152,527,872  56.72
1           China   24,098,150   8.96
2         Germany   18,044,735   6.71
3          Canada   16,704,693   6.21
4           India   11,135,408   4.14
5           Japan    7,935,585   2.95
6       Australia    6,425,896   2.39
7          France    4,988,581   1.86
8  United Kingdom    4,511,714   1.68
9          Turkey    2,418,232   0.90

In [109]:
dfTopCountriesLegacy["domains"].sum()

'152,527,87224,098,15018,044,73516,704,69311,135,4087,935,5856,425,8964,988,5814,511,7142,418,2322,375,1152,279,7191,725,4181,470,1581,275,3151,237,7401,122,1741,116,347850,677826,659656,556546,314520,482512,254463,923281,528247,171215,965210,001205,917196,957186,633186,041177,838175,245173,886172,530102,29494,35190,02086,84069,13947,79545,55237,91627,55920,83920,39314,30913,72811,3957,1917,0766,2184,7264,5273,1012,0271,5511,3665795213032751941101'

In [111]:
dfResult = pd.concat([dfTopCountriesNew[0:10],dfTopCountriesLegacy[0:10]], axis=1)
dfResult.index += 1 
dfResult.to_csv('country-domain-count-combined-share.csv', sep='&')
dfResult

           country    domains  share         country      domains  share
1            China  8,076,776  27.92   United States  152,527,872  56.72
2    United States  6,283,269  21.72           China   24,098,150   8.96
3        Gibraltar  3,028,035  10.47         Germany   18,044,735   6.71
4   Cayman Islands  2,069,919   7.16          Canada   16,704,693   6.21
5        Singapore  1,870,886   6.47           India   11,135,408   4.14
6            Japan  1,741,228   6.02           Japan    7,935,585   2.95
7            India  1,323,117   4.57       Australia    6,425,896   2.39
8          Germany  1,105,708   3.82          France    4,988,581   1.86
9        Hong Kong    836,069   2.89  United Kingdom    4,511,714   1.68
10          France    450,371   1.56          Turkey    2,418,232   0.90

In [106]:
 '{0:,d}'.format(9999999999)

'9,999,999,999'